# macOS junk
.DS_Store

# VS Code / IDE
.vscode/
.idea/

# ========= Java / Gradle =========
**/build/
.gradle/
**/.gradle/
**/out/
*.class
*.jar

# ========= Project data (don't commit audio/db) =========
*.wav
*.mp3
*.m4a
*.flac
*.db
*.png


backend-java/data/*
!backend-java/data/.gitkeep
backend-java/data/src/main/java/output
backend-java/data/src/main/java/testFiles


# ========= Python leftovers (if you still have them) =========
**/.venv/
**/__pycache__/
*.pyc
*.pyo
